body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    background-color:  #004134;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.h1 {
    color: #ffff;
    font-weight: 400;
}

.textarea {
    width: 50%;
    height: 200px;
    margin: 10px auto;
    border: 1px solid #888;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: center;
    
}

.key {
    color: #ffff;
    font-size: 20px;
    background-color: #0c6d59;
    border: none;
    padding: 15px 20px;
    margin: 2px;
    border-radius: 10%;
}

 .key:hover {
    background-color: #139177;
    transition: linear 0.1s;
    cursor: pointer;
   

}

.key:active {
    background-color: #0f6b59;
    transition: linear 0.1s;
    cursor: pointer;
    box-shadow:  0px 4px 0px rgba(0, 0, 0, 0.8);
}

.indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.active {
    background-color: #ffff;
}


.enter {
    padding: 10px 35px;
}

.space {
    width: 40%;
}

.shift {
    width: 88px;
}
